GestionBancariaWS/App_WebReferences/GestionBancariaWS/ServiceGestionBancaria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ServiceGestionBancaria.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ServiceGestionBancaria.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ServiceGestionBancaria.org/">
      <s:element name="AltaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBREUSUARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APELLIDO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PASS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ACTIVO" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AltaUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="getLoginUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoginUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLoginUsuarioResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cliente" />
            <s:element minOccurs="0" maxOccurs="1" name="newPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:complexContent mixed="false">
          <s:extension base="tns:Usuario">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DIRECCION" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TELEFONOS" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ModificarPasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="RealizarTransferencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="movOrigen" type="tns:Movimiento" />
            <s:element minOccurs="0" maxOccurs="1" name="movDestino" type="tns:Movimiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Movimiento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDMOVIMIENTO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TIPOMOVIMIENTO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="COTIZACION" type="tns:Cotizacion" />
          <s:element minOccurs="0" maxOccurs="1" name="CUENTA" type="tns:Cuenta" />
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="tns:Usuario" />
          <s:element minOccurs="0" maxOccurs="1" name="SUCURSAL" type="tns:Sucursal" />
          <s:element minOccurs="0" maxOccurs="1" name="MONEDA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VIAWEB" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MONTO" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cotizacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FECHA" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PRECIOCOMPRA" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PRECIOVENTA" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cuenta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDCUENTA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SUCURSAL" type="tns:Sucursal" />
          <s:element minOccurs="0" maxOccurs="1" name="MONEDA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:Cliente" />
          <s:element minOccurs="1" maxOccurs="1" name="SALDO" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MOVIMIENTOSCUENTA" type="tns:ArrayOfMovimiento" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHAAPERTURA" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sucursal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDSUCURSAL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DIRECCION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ACTIVA" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CUENTASSUCURSAL" type="tns:ArrayOfCuenta" />
          <s:element minOccurs="0" maxOccurs="1" name="EMPLEADOSUCURSAL" type="tns:ArrayOfEmpleado" />
          <s:element minOccurs="0" maxOccurs="1" name="PRESTAMOSSUCURSAL" type="tns:ArrayOfPrestamo" />
          <s:element minOccurs="1" maxOccurs="1" name="CANTIDADPRESTAMOS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CANTIDADCUENTASABIERTAS" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cuenta" nillable="true" type="tns:Cuenta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEmpleado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Empleado" nillable="true" type="tns:Empleado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Empleado">
        <s:complexContent mixed="false">
          <s:extension base="tns:Usuario">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SUCURSAL" type="tns:Sucursal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPrestamo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Prestamo" nillable="true" type="tns:Prestamo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Prestamo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDPRESTAMO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SUCURSAL" type="tns:Sucursal" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHAEMITIDO" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTALCUOTAS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CANCELADO" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MONEDA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MONTO" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMovimiento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Movimiento" nillable="true" type="tns:Movimiento" />
        </s:sequence>
      </s:complexType>
      <s:element name="RealizarTransferenciaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConsultaMovimientos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cuenta" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaMovimientosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaMovimientosResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarCuentasCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarCuentasClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarCuentasClienteResult" type="tns:ArrayOfCuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaCuentaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListarCuentas">
        <s:complexType />
      </s:element>
      <s:element name="ListarCuentasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarCuentasResult" type="tns:ArrayOfCuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCuentaResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscarCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarCuentaResult" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCuentaResponse">
        <s:complexType />
      </s:element>
      <s:element name="RealizarMovimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="m" type="tns:Movimiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarMovimientoResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConsultaMovimientosCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cuenta" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaMovimientosCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaMovimientosCuentaResult" type="tns:ArrayOfMovimiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarCotizaciones">
        <s:complexType />
      </s:element>
      <s:element name="ListarCotizacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarCotizacionesResult" type="tns:ArrayOfCotizacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCotizacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cotizacion" nillable="true" type="tns:Cotizacion" />
        </s:sequence>
      </s:complexType>
      <s:element name="AltaCotizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Cotizacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaCotizacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminarCotizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Cotizacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarCotizacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscarCotizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Cotizacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarCotizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarCotizacionResult" type="tns:Cotizacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCotizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Cotizacion" />
            <s:element minOccurs="0" maxOccurs="1" name="e" type="tns:Empleado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarCotizacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="PagarCuota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Prestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PagarCuotaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListarPagos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Prestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPagosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarPagosResult" type="tns:ArrayOfPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pago" nillable="true" type="tns:Pago" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pago">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDRECIBO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EMPLEADO" type="tns:Empleado" />
          <s:element minOccurs="0" maxOccurs="1" name="PRESTAMO" type="tns:Prestamo" />
          <s:element minOccurs="1" maxOccurs="1" name="MONTO" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHAPAGO" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NUMEROCUOTA" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalcularMontoCuotaPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Prestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularMontoCuotaPrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcularMontoCuotaPrestamoResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPrestamosAtrasados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Sucursal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPrestamosAtrasadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarPrestamosAtrasadosResult" type="tns:ArrayOfPrestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Sucursal" />
            <s:element minOccurs="1" maxOccurs="1" name="Cancelado" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarPrestamoResult" type="tns:ArrayOfPrestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Prestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaPrestamoResponse">
        <s:complexType />
      </s:element>
      <s:element name="CancelarPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Prestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarPrestamoResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscarPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Prestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPrestamoResult" type="tns:Prestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPrestamoCancelado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Prestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPrestamoCanceladoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsPrestamoCanceladoResult" type="tns:ArrayOfPago" />
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Prestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarSucursales">
        <s:complexType />
      </s:element>
      <s:element name="ListarSucursalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarSucursalesResult" type="tns:ArrayOfSucursal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSucursal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sucursal" nillable="true" type="tns:Sucursal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AltaSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Sucursal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaSucursalResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminarSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Sucursal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSucursalResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscarSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:Sucursal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarSucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarSucursalResult" type="tns:Sucursal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Sucursal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarSucursalResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListadoProductividadComparativo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fechaInicio" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaFin" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListadoProductividadComparativoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListadoProductividadComparativoResult" type="tns:ArrayOfSucursal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArqueoCaja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="e" type="tns:Empleado" />
            <s:element minOccurs="1" maxOccurs="1" name="saldoCajaDolares" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="saldoCajaPesos" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="cantTotalDepositos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cantTotalRetiros" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cantTotalPagos" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArqueoCajaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="saldoCajaDolares" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="saldoCajaPesos" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="cantTotalDepositos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cantTotalRetiros" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cantTotalPagos" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AltaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AltaUsuario" />
  </wsdl:message>
  <wsdl:message name="AltaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AltaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="getLoginUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:getLoginUsuario" />
  </wsdl:message>
  <wsdl:message name="getLoginUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:getLoginUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarPassword" />
  </wsdl:message>
  <wsdl:message name="ModificarPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarTransferenciaSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarTransferencia" />
  </wsdl:message>
  <wsdl:message name="RealizarTransferenciaSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarTransferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaMovimientosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaMovimientos" />
  </wsdl:message>
  <wsdl:message name="ConsultaMovimientosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaMovimientosResponse" />
  </wsdl:message>
  <wsdl:message name="ListarCuentasClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCuentasCliente" />
  </wsdl:message>
  <wsdl:message name="ListarCuentasClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ListarCuentasClienteResponse" />
  </wsdl:message>
  <wsdl:message name="AltaCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:AltaCuenta" />
  </wsdl:message>
  <wsdl:message name="AltaCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:AltaCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarCuentasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCuentas" />
  </wsdl:message>
  <wsdl:message name="ListarCuentasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarCuentasResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarCuenta" />
  </wsdl:message>
  <wsdl:message name="EliminarCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarCuenta" />
  </wsdl:message>
  <wsdl:message name="BuscarCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCuenta" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarMovimientoSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarMovimiento" />
  </wsdl:message>
  <wsdl:message name="RealizarMovimientoSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarMovimientoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaMovimientosCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaMovimientosCuenta" />
  </wsdl:message>
  <wsdl:message name="ConsultaMovimientosCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaMovimientosCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarCotizacionesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCotizaciones" />
  </wsdl:message>
  <wsdl:message name="ListarCotizacionesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarCotizacionesResponse" />
  </wsdl:message>
  <wsdl:message name="AltaCotizacionSoapIn">
    <wsdl:part name="parameters" element="tns:AltaCotizacion" />
  </wsdl:message>
  <wsdl:message name="AltaCotizacionSoapOut">
    <wsdl:part name="parameters" element="tns:AltaCotizacionResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarCotizacionSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarCotizacion" />
  </wsdl:message>
  <wsdl:message name="EliminarCotizacionSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarCotizacionResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarCotizacionSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarCotizacion" />
  </wsdl:message>
  <wsdl:message name="BuscarCotizacionSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarCotizacionResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCotizacionSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCotizacion" />
  </wsdl:message>
  <wsdl:message name="ActualizarCotizacionSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarCotizacionResponse" />
  </wsdl:message>
  <wsdl:message name="PagarCuotaSoapIn">
    <wsdl:part name="parameters" element="tns:PagarCuota" />
  </wsdl:message>
  <wsdl:message name="PagarCuotaSoapOut">
    <wsdl:part name="parameters" element="tns:PagarCuotaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarPagosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarPagos" />
  </wsdl:message>
  <wsdl:message name="ListarPagosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarPagosResponse" />
  </wsdl:message>
  <wsdl:message name="CalcularMontoCuotaPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularMontoCuotaPrestamo" />
  </wsdl:message>
  <wsdl:message name="CalcularMontoCuotaPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularMontoCuotaPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="ListarPrestamosAtrasadosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarPrestamosAtrasados" />
  </wsdl:message>
  <wsdl:message name="ListarPrestamosAtrasadosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarPrestamosAtrasadosResponse" />
  </wsdl:message>
  <wsdl:message name="ListarPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:ListarPrestamo" />
  </wsdl:message>
  <wsdl:message name="ListarPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:ListarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="AltaPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:AltaPrestamo" />
  </wsdl:message>
  <wsdl:message name="AltaPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:AltaPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarPrestamo" />
  </wsdl:message>
  <wsdl:message name="CancelarPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPrestamo" />
  </wsdl:message>
  <wsdl:message name="BuscarPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="IsPrestamoCanceladoSoapIn">
    <wsdl:part name="parameters" element="tns:IsPrestamoCancelado" />
  </wsdl:message>
  <wsdl:message name="IsPrestamoCanceladoSoapOut">
    <wsdl:part name="parameters" element="tns:IsPrestamoCanceladoResponse" />
  </wsdl:message>
  <wsdl:message name="ListarSucursalesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarSucursales" />
  </wsdl:message>
  <wsdl:message name="ListarSucursalesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarSucursalesResponse" />
  </wsdl:message>
  <wsdl:message name="AltaSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:AltaSucursal" />
  </wsdl:message>
  <wsdl:message name="AltaSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:AltaSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarSucursal" />
  </wsdl:message>
  <wsdl:message name="EliminarSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarSucursal" />
  </wsdl:message>
  <wsdl:message name="BuscarSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarSucursal" />
  </wsdl:message>
  <wsdl:message name="ActualizarSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="ListadoProductividadComparativoSoapIn">
    <wsdl:part name="parameters" element="tns:ListadoProductividadComparativo" />
  </wsdl:message>
  <wsdl:message name="ListadoProductividadComparativoSoapOut">
    <wsdl:part name="parameters" element="tns:ListadoProductividadComparativoResponse" />
  </wsdl:message>
  <wsdl:message name="ArqueoCajaSoapIn">
    <wsdl:part name="parameters" element="tns:ArqueoCaja" />
  </wsdl:message>
  <wsdl:message name="ArqueoCajaSoapOut">
    <wsdl:part name="parameters" element="tns:ArqueoCajaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceGestionBancariaSoap">
    <wsdl:operation name="AltaUsuario">
      <wsdl:input message="tns:AltaUsuarioSoapIn" />
      <wsdl:output message="tns:AltaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLoginUsuario">
      <wsdl:input message="tns:getLoginUsuarioSoapIn" />
      <wsdl:output message="tns:getLoginUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPassword">
      <wsdl:input message="tns:ModificarPasswordSoapIn" />
      <wsdl:output message="tns:ModificarPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizarTransferencia">
      <wsdl:input message="tns:RealizarTransferenciaSoapIn" />
      <wsdl:output message="tns:RealizarTransferenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaMovimientos">
      <wsdl:input message="tns:ConsultaMovimientosSoapIn" />
      <wsdl:output message="tns:ConsultaMovimientosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarCuentasCliente">
      <wsdl:input message="tns:ListarCuentasClienteSoapIn" />
      <wsdl:output message="tns:ListarCuentasClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaCuenta">
      <wsdl:input message="tns:AltaCuentaSoapIn" />
      <wsdl:output message="tns:AltaCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarCuentas">
      <wsdl:input message="tns:ListarCuentasSoapIn" />
      <wsdl:output message="tns:ListarCuentasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCuenta">
      <wsdl:input message="tns:EliminarCuentaSoapIn" />
      <wsdl:output message="tns:EliminarCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCuenta">
      <wsdl:input message="tns:BuscarCuentaSoapIn" />
      <wsdl:output message="tns:BuscarCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuenta">
      <wsdl:input message="tns:ActualizarCuentaSoapIn" />
      <wsdl:output message="tns:ActualizarCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizarMovimiento">
      <wsdl:input message="tns:RealizarMovimientoSoapIn" />
      <wsdl:output message="tns:RealizarMovimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaMovimientosCuenta">
      <wsdl:input message="tns:ConsultaMovimientosCuentaSoapIn" />
      <wsdl:output message="tns:ConsultaMovimientosCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarCotizaciones">
      <wsdl:input message="tns:ListarCotizacionesSoapIn" />
      <wsdl:output message="tns:ListarCotizacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaCotizacion">
      <wsdl:input message="tns:AltaCotizacionSoapIn" />
      <wsdl:output message="tns:AltaCotizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCotizacion">
      <wsdl:input message="tns:EliminarCotizacionSoapIn" />
      <wsdl:output message="tns:EliminarCotizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCotizacion">
      <wsdl:input message="tns:BuscarCotizacionSoapIn" />
      <wsdl:output message="tns:BuscarCotizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCotizacion">
      <wsdl:input message="tns:ActualizarCotizacionSoapIn" />
      <wsdl:output message="tns:ActualizarCotizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PagarCuota">
      <wsdl:input message="tns:PagarCuotaSoapIn" />
      <wsdl:output message="tns:PagarCuotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarPagos">
      <wsdl:input message="tns:ListarPagosSoapIn" />
      <wsdl:output message="tns:ListarPagosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcularMontoCuotaPrestamo">
      <wsdl:input message="tns:CalcularMontoCuotaPrestamoSoapIn" />
      <wsdl:output message="tns:CalcularMontoCuotaPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarPrestamosAtrasados">
      <wsdl:input message="tns:ListarPrestamosAtrasadosSoapIn" />
      <wsdl:output message="tns:ListarPrestamosAtrasadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarPrestamo">
      <wsdl:input message="tns:ListarPrestamoSoapIn" />
      <wsdl:output message="tns:ListarPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaPrestamo">
      <wsdl:input message="tns:AltaPrestamoSoapIn" />
      <wsdl:output message="tns:AltaPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarPrestamo">
      <wsdl:input message="tns:CancelarPrestamoSoapIn" />
      <wsdl:output message="tns:CancelarPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPrestamo">
      <wsdl:input message="tns:BuscarPrestamoSoapIn" />
      <wsdl:output message="tns:BuscarPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsPrestamoCancelado">
      <wsdl:input message="tns:IsPrestamoCanceladoSoapIn" />
      <wsdl:output message="tns:IsPrestamoCanceladoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarSucursales">
      <wsdl:input message="tns:ListarSucursalesSoapIn" />
      <wsdl:output message="tns:ListarSucursalesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaSucursal">
      <wsdl:input message="tns:AltaSucursalSoapIn" />
      <wsdl:output message="tns:AltaSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSucursal">
      <wsdl:input message="tns:EliminarSucursalSoapIn" />
      <wsdl:output message="tns:EliminarSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarSucursal">
      <wsdl:input message="tns:BuscarSucursalSoapIn" />
      <wsdl:output message="tns:BuscarSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarSucursal">
      <wsdl:input message="tns:ActualizarSucursalSoapIn" />
      <wsdl:output message="tns:ActualizarSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListadoProductividadComparativo">
      <wsdl:input message="tns:ListadoProductividadComparativoSoapIn" />
      <wsdl:output message="tns:ListadoProductividadComparativoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ArqueoCaja">
      <wsdl:input message="tns:ArqueoCajaSoapIn" />
      <wsdl:output message="tns:ArqueoCajaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceGestionBancariaSoap" type="tns:ServiceGestionBancariaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaUsuario">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/AltaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginUsuario">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/getLoginUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPassword">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ModificarPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarTransferencia">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/RealizarTransferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaMovimientos">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ConsultaMovimientos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCuentasCliente">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ListarCuentasCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaCuenta">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/AltaCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCuentas">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ListarCuentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCuenta">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/EliminarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCuenta">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/BuscarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuenta">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ActualizarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarMovimiento">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/RealizarMovimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaMovimientosCuenta">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ConsultaMovimientosCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCotizaciones">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ListarCotizaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaCotizacion">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/AltaCotizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCotizacion">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/EliminarCotizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCotizacion">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/BuscarCotizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCotizacion">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ActualizarCotizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagarCuota">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/PagarCuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPagos">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ListarPagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularMontoCuotaPrestamo">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/CalcularMontoCuotaPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPrestamosAtrasados">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ListarPrestamosAtrasados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPrestamo">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ListarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaPrestamo">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/AltaPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarPrestamo">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/CancelarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPrestamo">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/BuscarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPrestamoCancelado">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/IsPrestamoCancelado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSucursales">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ListarSucursales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaSucursal">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/AltaSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSucursal">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/EliminarSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarSucursal">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/BuscarSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSucursal">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ActualizarSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoProductividadComparativo">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ListadoProductividadComparativo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArqueoCaja">
      <soap:operation soapAction="http://ServiceGestionBancaria.org/ArqueoCaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceGestionBancariaSoap12" type="tns:ServiceGestionBancariaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaUsuario">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/AltaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginUsuario">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/getLoginUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPassword">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ModificarPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarTransferencia">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/RealizarTransferencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaMovimientos">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ConsultaMovimientos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCuentasCliente">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ListarCuentasCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaCuenta">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/AltaCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCuentas">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ListarCuentas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCuenta">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/EliminarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCuenta">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/BuscarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCuenta">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ActualizarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarMovimiento">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/RealizarMovimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaMovimientosCuenta">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ConsultaMovimientosCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCotizaciones">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ListarCotizaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaCotizacion">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/AltaCotizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCotizacion">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/EliminarCotizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCotizacion">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/BuscarCotizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCotizacion">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ActualizarCotizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagarCuota">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/PagarCuota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPagos">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ListarPagos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularMontoCuotaPrestamo">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/CalcularMontoCuotaPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPrestamosAtrasados">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ListarPrestamosAtrasados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPrestamo">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ListarPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaPrestamo">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/AltaPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarPrestamo">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/CancelarPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPrestamo">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/BuscarPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPrestamoCancelado">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/IsPrestamoCancelado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSucursales">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ListarSucursales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaSucursal">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/AltaSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSucursal">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/EliminarSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarSucursal">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/BuscarSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSucursal">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ActualizarSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoProductividadComparativo">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ListadoProductividadComparativo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArqueoCaja">
      <soap12:operation soapAction="http://ServiceGestionBancaria.org/ArqueoCaja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceGestionBancaria">
    <wsdl:port name="ServiceGestionBancariaSoap" binding="tns:ServiceGestionBancariaSoap">
      <soap:address location="http://localhost:43285/GestionBancariaWS/ServiceGestionBancaria.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceGestionBancariaSoap12" binding="tns:ServiceGestionBancariaSoap12">
      <soap12:address location="http://localhost:43285/GestionBancariaWS/ServiceGestionBancaria.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>